@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  background-color: rgb(37, 37, 37);
  height: 100%;
}

.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(255, 100, 100);
}

.wall {
  background: white;
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(241, 229, 89);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.coin::after {
  display: block;
  content: "$";
  font-size: 10px;
}

.player {
  background: brown;
  background-image: url("/tony.png");
}

.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 1200px;
  max-height: 800px;
  position: relative;
}

.space {
  background-color: transparent;
}

.btn {
  border-radius: 3px;
  background-color: black;
  color: rgb(71, 71, 71);
  border: 1px solid black;
  padding: 4px;
  font-weight: 900;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1;
  text-align: center;
}

.btn:disabled {
  color: rgb(46, 46, 46);
  background-color: rgb(27, 27, 27);
}

.btn span {
  transform: translateY(-2px);
}

button {
  cursor: pointer;
}
